/* Cusstom CSS End */

@font-face {
    font-family: 'open_sansbold';
    src: url('./fonts/opensans-bold-webfont.eot');
    src: url('./fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bold-webfont.woff') format('woff'),
         url('./fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('./fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('./fonts/OpenSans-Light-webfont.eot');
    src: url('./fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('./fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('./fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/opensans-regular-webfont.eot');
    src: url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-regular-webfont.woff') format('woff'),
         url('./fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('./fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{ background:#fff; font-size:14px; line-height:20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

header{ border-top:2px solid #1e82f2; padding:0px; }

header .container-fluid{ padding:0; }

.head-top{
    padding:10px;
}

.head-midd{
    background:#ededed;
    border-top:1px solid #d3d5d6;
    padding:4px 15px;
}

.head-bott {

    background:#ededed;
    border-top:1px solid #0d5b8f;
    padding:0px 15px;
    border-bottom:3px solid #0d5b8f;
	
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5292be+0,196da6+100 */
    background: rgb(82,146,190); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(82,146,190,1) 0%, rgba(25,109,166,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(82,146,190,1) 0%,rgba(25,109,166,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(82,146,190,1) 0%,rgba(25,109,166,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5292be', endColorstr='#196da6',GradientType=0 ); /* IE6-9 */
    min-height: 50px;
}

button.dbtn {
    background: #fff;
    border: 1px solid #c4c4c4;
    padding: 0 0px 0 0;
    border-radius: 3px;
    margin:4px 3px;
    display:inline-block;
}

button.dbtn span{ padding-right:10px; }

/*button:hover {
    background: #ebebeb; transition:linear;
}*/

button.dbtn label {
    background: #262626;
    padding: 4px 10px;
    color: #fff;
    margin: 0 10px 0 0;
}

button.dbtn select {
    border: none;
    border-left: 1px solid #c4c4c4;
    height: 28px;
    margin: 0;
    padding: 2px 8px;
}

button.dbtn .color_pick {
    margin: -3px 4px 0 0;
    display: inline;
}
button.dbtn .color_pick img{
    margin-top: -4px;
}

button.cart_butt{
    background:#f21e1e; color:#fff;
}

button.download_butt{
    background:#646363; color:#fff;
}

.head_midd{
    background:#ededed;
    border-top:1px solid #d3d5d6;
    padding:10px;
}

button.dbtn .icon {
    display: inline-block;
    margin: 4px 10px;
}

.undo_redo_sec { width:auto; }
.undo_redo_sec button{ margin: 4px -3px;}

.doc_info{
    display: inline-block;margin: 4px 15px 4px 0; color:#fff; line-height:24px;
}
.doc_info .value {
    background: #fff;
    color: #666;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #0d5b8f;
    padding: 1px 5px;
}

.doc_info .valueb {
    color: #666;
    display: inline-block;
    padding: 1px 5px;
}

.cart_sec{ width:auto;}
.cart_sec button {
    background: transparent;
    border: none;
    border-left: 1px solid #0d5b8f;
    padding: 4px 0px;
    border-radius: 0px;
    margin: 0px 3px;
    display: inline-block;
    box-shadow: none;
    color:#fff;
}
.no_padding{ padding:0;}

.Sidebar.left, .Sidebar.right{ padding:0; background:#f4f4f4; border:1px solid #c4c4c4;}
.Sidebar h3{ font-size:14px; color:#222; line-height:25px; text-align:center; background:#e8e7e7; margin:0; border-bottom:1px solid #d5d5d5;}

.tools {
    padding: 5px 0px;
    border: 1px solid #c4c4c4;
    margin: 5px;
    display: inline-block;
    width: 44%;
    text-align: center;
    border-radius:8px;
    background: #fff;
    font-size: 25px;
}

.tools .select{

   background: url('icon/cursor.png') no-repeat;
   background-size: 25px;
   width: 30px;
   height: 30px;
   margin: 0 auto;
   display: block;
}

.tools .circle{

   background: url('icon/circlei.png') no-repeat;
   background-size: 38px;
   width: 40px;
   height: 35px;
   margin: 0 auto;
   display: block;
}

.tools .line{

   background: url('icon/linei.png') no-repeat;
   background-size: 48px;
   width: 50px;
   height: 35px;
   margin: 0 auto;
   display: block;
}

.tools .line{

   background: url('icon/linei.png') no-repeat;
   background-size: 48px;
   width: 50px;
   height: 35px;
   margin: 0 auto;
   display: block;
}

.tools .rectangle{

   background: url('icon/ranglei.png') no-repeat;
   background-size: 48px;
   width: 50px;
   height: 35px;
   margin: 0 auto;
   display: block;
}

.tools .triangle{

   background: url('icon/tanglei.png') no-repeat;
   background-size: 52px;
   width: 50px;
   height: 35px;
   margin: 0 auto;
   display: block;
}

.tools .octagon{

   background: url('icon/octagoni.png') no-repeat;
   background-size: 37px;
   width: 37px;
   height: 35px;
   margin: 0 auto;
   display: block;
}

.tools .star{

   background: url('icon/stari.png') no-repeat;
   background-size: 38px;
   width: 42px;
   height: 35px;
   margin: 0 auto;
   display: block;
}

.Sidebar.left .tools.full {
    padding: 10px;
    border: 1px solid #c4c4c4;
    margin: 5% 2.5% 0;
    display: inline-block;
    width: 93%;
    text-align: center;
}

.Sidebar.left{
    padding: 0;
    background: #f4f4f4;
    border: 1px solid #c4c4c4;
    max-width: 175px;
    padding-bottom:10px;
}

.Sidebar.right{ padding-bottom:80px; }

.content_area h2{ text-align:center; padding:50px 0}

/* Cusstom CSS End */


/* head */
.module-login .dropdown-menu {
  z-index: 10000;
}
.module-login {
  text-align: right;
}
.module-login .dropdown {
  background-color: #333333;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 10px;
  text-align: right;
}
#user_info {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
#user_info .caret {
  border-color: #fff transparent -moz-use-text-color;
  margin-left: 4px;
}
.module-login .dropdown-menu {
  font-size: 12px;
  text-align: left;
  z-index: 10000;
}
/* banner */
.head-banner{  
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;  
}
.bx-caption h1, .bx-caption h2, .bx-caption h3, .bx-caption h4, .bx-caption h5, .bx-caption h6{
font-family: Oswald,sans-serif;
}
.bx-wrapper .bx-caption {
  color: #4b5668!important;
  font-size:16px;
}
.bx-caption h2, .bx-caption h1, .bx-caption h3 {
  color: #4b5668;
  font-size: 42px;
  padding-bottom: 22px;
}
.bx-caption > ul {
  list-style: outside none none;
  padding: 0;
}
.bx-caption li {
  line-height: 30px;
  padding-left: 6px;
}
.bx-wrapper .bx-controls .bx-pager {
  bottom: 10px; 
  left: 10px;  
  right: auto;
  text-align: left;
}

/* search */
.module-search .has-feedback {
  margin-bottom: 0;
  position: relative;
}
.module-search .has-feedback {  
  margin-bottom: 0px;
}